/* common css */
*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* header css */
header{

    padding: 50px 128px ;
}
.banner-logo{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
nav ul{
    display: flex;
}
nav li{
     list-style: none;
     margin-left: 34px;
     color: #3A3A3A;
     font-weight: 600;
}
.banner{
    display: flex;
    margin-top: 145px;
    align-items: center;
}
.banner-content{
    max-width: 554px;
}
.banner-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #3A3A3A;
    
}
.banner-description{
    font-size: 16;
    font-weight: 600;
}
.btn{
    margin-top: 16px;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
}
 .banner-backimg {
    position: relative;
    width: 435px;
    height: 435px;
    left: 50px;
}
.banner-img{
    width: 376px;
    height: 350px;
    position: absolute;
    right: 150px;
}

/* header part ends */

/* main part starts */
main{
    max-width: 75%;
    margin: 50px auto;
}

 /*sponsor section */
 .sponsors-container{
    margin: 50px 30px;
   text-align: center;
}
.sponsors-img{
   margin: 30px 15px;
}

/* collection section */
.collection-title {
    margin: 50px 300px 50px 300px;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.img-container p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.card{
    margin-right: 20px;
    padding: 14px 20px;
    box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.img-title{
    font-size: 28;
    font-weight: 500;
}
.money{
    font-size: 24;
    font-weight: 400;
    margin: 8px 0;
}
.ratings {
    color: gold;
    margin-bottom: 8px;

}
.collection-img{
    width: 100%;
    margin: 0 auto;
}
.collection-btn{
    text-align: end;
}
.see-more{
    margin-top: 35px;
    color: #E02C6D;
    background-color: #FFFFFF;
    border: none;
}
/* featured part */
.featured-container{
    display: flex;
    max-width: 1110px;
    gap: 96px;
    margin: 100px 0;
}
.featured-title{
    font-size: 30px;
    font-weight: 700;
    margin: 23px 0;
}
.featured-button{
    margin-top: 26px;
    padding: 12px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
}
/* main section ends */

/* footer part starts */
 .footer-container{
    padding: 83px 0;
    background-color: #0A0826;
    height: 239px;
    text-align: center;;
 }
 .footer-contain{
    color: #FFFFFF;   
 }
.footer-title{
    font-size: 24px;
    font-weight: 700;
}
 .footer-description{
    font-size: 12px;
    font-weight: 600;
    color: #D9DBE1;
    margin: 9px 0 17px 0;
 }
 .footer-logo{
    color: #FFFFFF;
 }
 .footer-logo i{
    padding: 0px 16px;
 }
 /* footer end */

 /* responsive */
 @media screen and (max-width:576px) {
    header{
        padding: 20px;

    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 28px;
        font-weight: 700;
    }
    .banner-backimg{
        width: 257px;
        height: 257px;
        bottom: 60px;
        left: 2px;
    }
    .banner-img{
        width: 202px;
        height: 190px;
        top: 200px;
        right: 90px;
    }

    nav 
    {
        flex-direction: column;
    }
    .sponsors-container{
        text-align: center;
        margin:0 0 30px 0; 
    }
    .sponsors-img{
        margin: 10px;
        width: 17%;

    }
    .collection-title{
        font-size: 20px;
        font-weight: 600;
        margin: 15px 60px 15px 60px;
    }
    .card{
        margin: 12px 0;
    }
    .collection-btn{
        width: 100%;
        text-align: end;
    }
    .see-more{
        font-size: 18px;
        font-weight: 700;
    }
    .img-title{
        font-size: 28px;
        font-weight: 700;
    }
    .money{
        font-size: 24px;
        font-weight: 700;
    }
    .img-container p {
        font-size: 14px;
        font-weight: 400;

    }
    .featured-container 
    { 
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
        gap: 30px;
    }
    .featured-title {
        margin-top: 50px;
        font-size: 24px;
        font-weight: 700;
    }
    .featured-img img{
        width: 100%;
    }
    nav li{
        margin: 28px 6px;
    }
  .img-container{
    grid-template-columns: 1fr;
 }
}
    
 